/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #282828;
	background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, Times, "Times New Roman", serif;
	margin: .5em 0;
	text-align: center;
}

h1 {
	font-size: 3.5rem;
	margin: 0 0 .5em;
}

h2 {
	font-size: 1.75rem;
}

p {
	margin: 0 0 1.5em;
}


/* Elements
--------------------------------------------- */
ul,
ol {
	margin: 1em 0;
	padding: 0 0 0 2.5em;
}


/* Links
--------------------------------------------- */
a,
a:visited { 
	color: #D45837;
}

a:hover,
a:focus,
a:active {
	color: #D45837;
}

a:focus {
	outline: 1px dotted #D45837;
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
.site-header {
	background-color: #46555C;
}

a.site-name {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.75rem;
	color: #ffffff;
	text-decoration: none;
	display: inline-block;
	padding: 1rem;
}

.site-navigation {
	position: relative;
}

.site-navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #46555C;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.site-navigation.toggled ul {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 1rem;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 1.25rem;
	text-decoration: none;
	color: #ffffff;
}

.menu-toggle {
	display: block;
	background-color: transparent;
	border: 0;
	padding: 1rem;
	position: absolute;
	top: -4.5rem;
	right: 1rem;
	z-index: 2;
}

.menu-toggle svg path {
	fill: #ffffff;
}

.menu-toggle:focus {
	border: 0;
	outline: 1px dotted;
}

@media screen and (min-width: 68em) {

	.menu-toggle {
		display: none;
	}

	.site-header {
		display: grid;
		grid-template-columns: 1fr minmax(auto, 25rem) minmax(auto, 37.5rem) 1fr;
	}

	.site-name {
		grid-column: 2 / 3;
		text-align: left;
	}

	.site-navigation ul,
	.site-navigation.toggled ul {
		display: flex;
		justify-content: flex-end;
		position: relative;
	}

	.site-navigation a {
		line-height: 4.5rem;
		padding: 0 1rem;
	}

}


/* Main
--------------------------------------------- */

/* Section 1 - Banner */
.banner {
	position: relative;
}

.banner h1 {
	color: white;
	position: absolute;
	top: 15rem;
	right: 0;
	left: 0;
	backdrop-filter: blur(0.5rem);
	border-radius: 50%;
	border: 3rem;
	justify-self: center;
	padding: 2rem;
	z-index: 1;
}

.banner img {
	object-fit: cover;
	object-position: bottom;
	height: 35rem;
	width: 100%;
}

@media screen and (min-width: 50em) {

	/* Section 2 - Cards */
	.grid-center.cards {
		margin: 1rem;
		display: grid;
		grid-template-columns: 15rem 15rem 15rem;
		grid-template-rows: 15rem 15rem;
		justify-content: center;
		gap: 0 1rem;
	}

	.grid-center-cards p {
		margin: 1rem;
	}
	/* Section 3 - Large Text */
	.grid-center.large-text {
		display: grid;
		grid-template-columns: 15rem 15rem 15rem;
		grid-template-rows: 15rem;
		justify-content: center;
		background-color: gray;
	}

	.grid-center.large-text div {
		grid-column: 1 / 4;
		margin: 1rem;
		color: white;
	}

	/* Section 4 - Full Width Boxes */
	.grid-full {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		gap: .5rem;
	}

	.grid-full-item {
		background-color: orange;
		padding: 1rem;
	}


	/* Section 5 - Grid Map */
	.grid-map {
		gap: 1rem;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}

	.grid-map div {
		min-width: 6rem;
		min-height: 8rem;
		background-color: #BBE1F2;
	}

	.grid-map .park {
		background-color: #69c869;
		grid-column: 2 / 4;
		grid-row: 2 / 4;
	}

	.grid-map .building {
		background-color: #a60000;
		grid-column: 5 / 6;
		grid-row: 1 / 3;
	}

	.grid-map .retail {
		background-color: #825099;
		grid-column: 1 / 2;
		grid-row: 2 / 4;
	}

	.grid-map .school {
		background-color: #f2d254;
		grid-column: 4 / 6;
		grid-row: 4 / 5;
	}
}


/* Footer
--------------------------------------------- */
.site-footer {
	border-top: 1px solid #888888;
	text-align: center;
	padding: 2rem;
	margin-bottom: 3.5rem;
}

.site-footer p {
	margin: 0;
}

@media (min-width: 50em) {
	.site-footer {
		margin-bottom: 0;
	}
}


